flask[async]
gunicorn[gthread]
numpy>=1.22,<1.24
pandas==2.2.2
requests
aiohttp
multiprocess
scikit-learn==1.2.2
python-dotenv
matplotlib==3.7.2
cmdstanpy==1.1.0
prophet==1.1.5
tensorflow==2.12.0
keras==2.12.0
pickle5==0.0.12
